/* =========================
   CONTENT PAGE STYLES
========================= */

/*==========ADMIN PANEL PAGE STYLES==========*/

/*-----Manage Users Page Styles-----*/

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    cursor: default;
}

.user-management {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #007BFF;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: large;
    width: 100vh;
}

/*-----Projects Page Styles-----*/
.input-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}